<h2>aaaa</h2>

<%= form_for(@content_creator) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name%>
  <%= f.label :tiktok %>
  <%= f.text_field :tiktok%>
  <%= f.label :instagram %>
  <%= f.text_field :instagram%>
  <%= f.label :facebook %>
  <%= f.text_field :facebook%>
  <%= f.label :youtube %>
  <%= f.text_field :youtube%>

  <%= f.submit %>
<% end %>
